<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wassappchat</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="icon" type="favicon.ico" href="../images/favicon.ico">
</head>
<body>
    <div id="back">

    </div>
    <div id="panel">
        <div id="img"></div>
        <form action="/pvtchat/" method="GET">
            <h4>Private Chat</h4>
            <input type="text" placeholder="username" name="username">
            <input type="text" placeholder="Room name" name="roomname">
            <input type="submit" value="let's Chat">
        </form>
        <hr>
        <form class="groupchat" action="/chat/" method="GET">
            <h4>Group Chat</h4>
            <input type="text" placeholder="username" name="username">
            <input type="submit" value="let's Chat">
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js" integrity="sha512-Jq1JnVXlkYQOYQpz31qIV/0l67d97J9I6sbILtfiSYX00Isr2zK7XDRmHW8d2iBTwNZfL7sHkHGT0EzLs90jdw==" crossorigin="anonymous"></script>
    <script>
        var socket = io()

    </script>
</body>
</html>
